* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	cursor: default;
}
.aboutMeContent{
	text-align: center;
	bottom: 0.4rem;
	padding: 0.5rem;
	position: relative;
	width: 100%;
	color: red;
}

.aboutMePhoto {
	margin-right: auto;
	margin-left: auto;
	position: center;
	width: 100%;
	max-width: 500px;
	display: block;
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.aboutMeInfo {
	text-align: center;
	color: darkgreen;
}



.allSeeingEye {
	position: top;
	margin: 0px auto;
	text-align: center;
	max-width: 115px;
}


.amokPhoto{
	position: center;
	width: 100%;
	max-width: 700px;
}

.buttonIndexPage {
		text-align: center;
		bottom: 0.4rem;
		padding: 0.5rem;
		position: relative;
		width: 100%;
		justify-content: center;
		display: flex;
	
}

blockquote {
	text-align: center;
	bottom: 0.4rem;
	padding: 0.5rem;
	position: relative;
	width: 100%;
}

.dropDown2 {
	position: relative;
	z-index: 1;
   display: inline-block;
}

footer small {
	margin: 0px auto;
	display: block;
	margin-top: 2rem;
	text-align: center;
	max-width: 115px;
}

.fTellerPhoto{
	position: center;
	width: 100%;
	max-width: 700px;
}

.headerForQuote{
	text-align: center;
	color: darkgreen;
	bottom: 0.4rem;
	padding: 0.5rem;
	position: relative;
	width: 100%;
}

header.indexPageHeader{
	display:grid;
	grid-template-columns: 200px auto 300px auto 200px;	
}
header.indexPageHeader > div{
	grid-column: 1/2;
	max-width: 200px;
	text-align: center;
}
header.indexPageHeader > figure {
	text-align: center;
	grid-column: 3/4;
}
header.indexPageHeader > nav {
	grid-column: 5/6;
	text-align: right;
}

.headerImageCap {
	text-align: center;
	color: darkgreen;
	bottom: 0.4rem;
	padding: 0.5rem;
	position: relative;
	width: 100%;

	}


.heroImageCap{
	text-align: center;
	color: darkgreen;
	bottom: 0.4rem;
	padding: 0.5rem;
	position: relative;
	width: 100%;

}
.container{
	min-height: 100vh;
	position: relative;
	padding-bottom: 120px;
}

footer.footerForIndexPage {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.jaylenCoding{
	margin-right: auto;
	margin-left: auto;
	position: center;
	width: 100%;
	max-width: 500px;
	display: block;
	margin-top: 5vh;
	margin-bottom: 5vh;
}



.navMenuPhoto {
	max-width: 115px;
	border-radius: 50%;
}
.proImageCap{
	text-align: center;
	bottom: 0.4rem;
	padding: 0.5rem;
	position: relative;
	width: 100%;
}


.projectsContent{
	text-align: center;
	bottom: 0.4rem;
	padding: 0.5rem;
	position: relative;
	width: 100%;
	color: red;
}
.projectsInfo {
	text-align: center;
	color: darkgreen;
}
.projectsLink{
	position: center;
	text-align: center;
	margin: 0;
	background: white;

}

.reviewsPhoto{
	position: center;
	width: 100%;
	max-width: 700px;
}
.showButtonContainer{
	text-align: center;
}

.show2{
	display: block;
}
.showSlide {  
	display: none  
}  
	.showSlide img {  
		width: 100%;  
	}  
.slidercontainer {  
	max-width: 1000px;  
	position: relative;  
	margin: auto;  
}  
.left, .right {  
	cursor: pointer;  
	position: relative;  
	top: 50%;  
	width: auto;  
	padding: 16px;  
	margin-top: -22px;  
	color:darkgreen;  
	font-weight: bold;  
	font-size: 18px;  
	transition: 0.6s ease;  
	border-radius: 0 3px 3px 0;  
}  
.right {  
	right: 0;  
	border-radius: 3px 0 0 3px;  
}  
	.left:hover, .right:hover {  
		background-color: red;  
	}  
.slideshowContent {  
	color: #eff5d4;  
	font-size: 30px;  
	padding: 8px 12px;  
	position: absolute;  
	top: 10px;  
	width: 100%;  
	text-align: center;  
}  
.active {  
	background-color: darkgreen;  
}  

.fade {  
	-webkit-animation-name: fade;  
	-webkit-animation-duration: 1.5s;  
	animation-name: fade;  
	animation-duration: 1.5s;  
}  
@-webkit-keyframes fade {  
	from {  
		opacity: .4  
	}  
	to {  
		opacity: 1  
	}  
}  

@keyframes fade {  
	from {  
		opacity: .4  
	}  
	to {  
		opacity: 1  
	}  
}  