* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.aboutMeNavMenu  {
	float: left;
}

.projectsNavMenu  {
	float: right;
}

.dropDown1 {
	 position: relative;
    display: inline-block;
}
.show1{
	display: block;
}
.dropDown2 {
	 position: relative;
    display: inline-block;
}

.show2{
	display: block;
}

.allSeeingEye {
	position: top;
	margin: 0px auto;
	display: block;
	text-align: center;
	max-width: 115px;
}

.headerImageCap {
	text-align: center;
	color: darkgreen;
	bottom: 0.4rem;
	padding: 0.5rem;
	position: relative;
	width: 100%;

	}
.heroImageCap{
	text-align: center;
	color: darkgreen;
	bottom: 0.4rem;
	padding: 0.5rem;
	position: relative;
	width: 100%;

}

footer small {
	margin: 0px auto;
	display: block;
	margin-top: 2rem;
	text-align: center;
	max-width: 115px;
}

.jaylenCoding{
	margin-right: auto;
	margin-left: auto;
	position: center;
	width: 100%;
	max-width: 500px;
	display: block;
	margin-top: 5vh;
	margin-bottom: 5vh;
}
.headerForQuote{
	text-align: center;
	color: darkgreen;
	bottom: 0.4rem;
	padding: 0.5rem;
	position: relative;
	width: 100%;
}
blockquote {
	text-align: center;
	bottom: 0.4rem;
	padding: 0.5rem;
	position: relative;
	width: 100%;
}
.aboutMePhoto {
	margin-right: auto;
	margin-left: auto;
	position: center;
	width: 100%;
	max-width: 500px;
	display: block;
	margin-top: 5vh;
	margin-bottom: 5vh;
}
.proImageCap{
	text-align: center;
	bottom: 0.4rem;
	padding: 0.5rem;
	position: relative;
	width: 100%;
}
.aboutMeContent{
	text-align: center;
	bottom: 0.4rem;
	padding: 0.5rem;
	position: relative;
	width: 100%;
	color: red;
}
.aboutMeInfo {
	text-align: center;
	color: darkgreen;
}