.dropDownButton1 {
	 background-color: red;
    color: darkgreen;
    outline-color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropDownButton1:hover, .dropDownButton1:focus{
	background-color: green;
	color:red;

}
.dropDownContent1 {
	display: none;
    position: absolute;
    background-color: red;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropDownContent1 a {
	color: darkgreen;
    padding: 12px 16px;
    text-decoration: none;
    display: block
}
.dropDown1 a:hover{
	background-color: green;
}
.dropDownButton2 {
	 background-color: red;
    color: darkgreen;
    outline-color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropDownButton2:hover, .dropDownButton2:focus{
	background-color: green;
	color:red;
}
.dropDownContent2 {
	display: none;
    position: absolute;
    background-color: red;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropDownContent2 a {
	color: darkgreen;
    padding: 12px 16px;
    text-decoration: none;
    display: block
}
.dropDown2 a:hover{
	background-color: green;
}
header {
	background-color: red;
	text-decoration: none;

}
.container {
	border-width: 5px;
	border-style: solid;
	border-color: black;
	background-image: url(../images/usaMap.jpg);

}
footer {
	background-color: red;
}
footer small{
	border-style: outset;
	border-color: green;
	border-width: 10px;
	color: black;
}
footer small a{
	color: black;
}
blockquote {
	font-size: 25px;
	color: darkgreen;
	border-bottom-style: solid;
	border-color: green;
	border-width: 5px;
	 
}
a{
	color: darkgreen;
}
.projectsLink p {
	color:darkgreen;
	background-color: red;
}
.contactLinks{
	border-width: 5px;
	color: darkgreen;
	border-top-style: double;
	border-top-color: darkgreen;
}
.containerForAboutMePage{
	border-width: 5px;
	border-style: solid;
	border-color: black;
}

.proImageCap{
	border-left-style: outset;
	border-bottom-style: inset;
	border-left-color: red;
	border-bottom-color: darkgreen;
	border-width: 10px;
}
.aboutMeContent{
	color: red;
}
.aboutMeInfo {
	color: darkgreen;
}
.projectsLink{
	border-width: 5px;
	color: darkgreen;
	border-top-style: double;
	border-top-color: darkgreen;
}
.containerForProjectsPage{
	border-width: 5px;
	border-style: solid;
	border-color: black;
}

.projectsContent{
	color: red;
}
.projectsInfo {
	color: darkgreen;
}
.aboutMePhoto{
	border-top-style: : solid;
	border-bottom-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: : red;
	border-left-color: darkgreen;
	border-right-color: darkgreen;
	border-bottom-color: red;
	border-width: 5px;
}
.jaylenCoding{
	border-style: groove;
	border-right-color: darkgreen;
	border-left-color: darkgreen;
	border-bottom-color: red;
	border-top-color: red;
	border-width: 5px;
}