.dropDownButton1 {
	 background-color: red;
    color: darkgreen;
    outline-color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropDownButton1:hover, .dropDownButton1:focus{
	background-color: green;
	color:red;

}
.dropDownContent1 {
	display: none;
    position: absolute;
    background-color: red;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropDownContent1 a {
	color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block
}
.dropDown1 a:hover{
	background-color: green;
}
.dropDownButton2 {
	 background-color: red;
    color: darkgreen;
    outline-color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropDownButton2:hover, .dropDownButton2:focus{
	background-color: green;
	color:red;
}
.dropDownContent2 {
	display: none;
    position: absolute;
    background-color: red;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropDownContent2 a {
	color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block
}
.dropDown2 a:hover{
	background-color: green;
}
header {
	background-color: red;
	text-decoration-color: green;
}
.container {
	border-width: 5px;
	border-style: solid;
	border-color: black;
}
footer small{
	border-style: outset;
	border-color: green;
	border-width: 5px;

}