a{
	color: darkgreen;
}
.aboutMeContent{
	color: red;
}
.aboutMeInfo {
	color: darkgreen;
}

.aboutMePhoto{
	border-top-style:  solid;
	/* border-bottom-style: solid; */
	border-right-style: solid;
	border-left-style: solid;
	border-top-color:  red;
	border-left-color: darkgreen;
	border-right-color: darkgreen;
	border-bottom-color: red;
	border-width: 5px;
}
blockquote{
	width: 10px;
	font-size: 16px;
	color: darkgreen;

	 
}
.contactLinks{
	border-width: 5px;
	color: darkgreen;
	border-top-style: double;
	border-top-color: darkgreen;
}
.container {
	border-width: 5px;
	border-style: solid;
	border-color: black;
	background-image: url(../images/usaMap.jpg);
}

.containerForAboutMePage{
	border-width: 5px;
	border-style: solid;
	border-color: black;
}

.containerForProjectsPage{
	border-width: 5px;
	border-style: solid;
	border-color: black;
}

.dropDownButton2 {
	 background-color: red;
    color: darkgreen;
    outline-color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
	cursor: pointer;
	border-radius: 50%;
	
}
.dropDownButton2:hover, .dropDownButton2:focus{
	background-color: green;
	color:red;
}
.dropDownContent2 {
	display: none;
    position: relative;
    background-color: red;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropDownContent2 a {
	color: darkgreen;
    padding: 12px 16px;
    text-decoration: none;
    display: block
}
.dropDown2 a:hover{
	background-color: green;
}

footer {
	background-color: red;
}

footer small{
	border-style: outset;
	border-color: green;
	border-width: 10px;
	color: black;
}

footer small a{
	color: black;
}

header {
	background-color: red;
	text-decoration: none;

}

.jaylenCoding{
	text-transform: inherit;
    word-break: break-word;
    
    background-color: red;
    color:darkgreen;
	font-size: 45px;
	border-style: groove;
	border-right-color: darkgreen;
	border-left-color: darkgreen;
	border-bottom-color: red;
	border-top-color: red;
	border-width: 5px;
}

.keywords{
	color: darkgreen;
	text-align: center;
}


.textBoxP  {
	width: 200px;
	display: none;
	
	
	
  }
  
  .textBoxP.open   {
	display: block;
	
  }
  

.projectsLink p {
	color:darkgreen;
	background-color: red;
}



.proImageCap{
	border-left-style: outset;
	border-right-style: inset;
	/* border-top-style: outset;  */
	border-bottom-style: inset;
	border-left-color: red;
	border-right-color: red;
	border-top-color: darkgreen;
	border-bottom-color: darkgreen;
	border-width: 10px;
}
.proImageCap > ul {
	list-style-type: none ;
}

.projectsLink{
	border-width: 5px;
	color: darkgreen;
	border-top-style: double;
	border-top-color: darkgreen;
}


.projectsContent{
	color: red;
}
.projectsInfo {
	color: darkgreen;
}


textarea{
    font-family: 'Courier New', Courier, monospace;
    font-size: 116px;
    line-height: 1.25;
    background-color: blue;
    color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	opacity: 0;
	
    
}

body.modal-open {
  overflow: hidden;
}

#modal-screen {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #333;
  opacity: 0.7;
  top: 0;
  left: 0;

  justify-content: center;
  align-items: center;
}

body.modal-open #modal-screen {
  display: flex;
}

.modalYoutubeLink {
	color: red;
}

#modal-box {
  color: gold;
  background: darkgreen;
  border: 2px solid red;

  min-width: 300px;
  max-width: 500px;
  width: 80vw;

  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 0 15px 5px black;
  
}

#modal-box header {
	
display: flex;
justify-content: space-between;
margin-bottom: 1rem;
}

.textBoxP {
	color: darkgreen;
	border-style: groove;
	border-color: red;
}